DOMAIN=example.duckdns.org

KOMODO_DATABASE_USERNAME=admin
KOMODO_DATABASE_PASSWORD=changeme

KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD=changeme

# generate using `openssl rand -hex 32`
KOMODO_WEBHOOK_SECRET=your-webhook-secret
KOMODO_JWT_SECRET=your-jwt-secret

PERIPHERY_ROOT_DIRECTORY=/apps/komodo/periphery
