# Tailscale
TS_AUTHKEY=your-tailscale-auth-key
TS_ROUTES=
TS_EXTRA_ARGS=

# MaxMind Account ID and License Key (get them for free at maxmind.com)
GEOIPUPDATE_ACCOUNT_ID=your-account-id
GEOIPUPDATE_LICENSE_KEY=your-license-key
