# General
PUID=1000
PGID=1000
TZ=UTC

# UsenetStreamer
# Shared secret for the Stremio addon
USENETSTREAMER_SHARED_SECRET=
# Optional stream token
USENETSTREAMER_STREAM_TOKEN=
USENETSTREAMER_BASE_URL=
