# General
TZ=UTC
DOMAIN=example.com

# generate using `openssl rand -hex 16`
USENETSTREAMER_SHARED_SECRET=your-shared-secret
ALTMOUNT_JWT_SECRET=your-jwt-secret

# generate using `openssl rand -hex 32`
AIOSTREAMS_SECRET_KEY=your-aiostreams-secret-key
