# Required
DOMAIN=example.duckdns.org
DUCKDNS_TOKEN=your-duckdns-token
# generate using `openssl rand -hex 32`
SERVER_SECRET=changeme
# Generate key: docker compose -f security/compose.yaml exec crowdsec cscli bouncers add caddy-bouncer
CROWDSEC_TRAEFIK_BOUNCER_KEY=generate-with-cscli-bouncers-add

# Optional
LETSENCRYPT_EMAIL=
