{
  # debug

  log {
    format json {
      time_format iso8601
    }
  }

  dynamic_dns {
    provider duckdns {env.DUCKDNS_API_TOKEN}
    domains {
      {env.DOMAIN}
    }
    versions ipv4
  }
  acme_dns duckdns {env.DUCKDNS_API_TOKEN}

  servers {
    trusted_proxies static private_ranges
    trusted_proxies_strict
  }
}

(reverse_proxy) {
  @{args[0]} host {args[0]}.{env.DOMAIN}
  handle @{args[0]} {
    reverse_proxy {args[1]} {
      fail_duration 30s
    }
  }
}

:80 {
  root * /usr/share/caddy
  file_server
}

{$DOMAIN} {
  redir https://www.{host}{uri} permanent
}

*.{$DOMAIN} {
  @www host www.{env.DOMAIN}
  handle @www {
    root /usr/share/caddy
    file_server
  }

  handle {
    error 404
  }
}
