# DuckDNS
DUCKDNS_SUBDOMAINS=example
DUCKDNS_TOKEN=your-duckdns-token
DOMAIN=example.duckdns.org
# Portainer stack repo path (stack_id is set by Portainer)
REPO_PATH=${PORTAINER_DATA}/data/compose/${stack_id}
