# DuckDNS
DUCKDNS_SUBDOMAINS=example
DUCKDNS_TOKEN=your-duckdns-token
DOMAIN=example.duckdns.org

# TinyAuth
TINYAUTH_OAUTH_WHITELIST=user@example.com
TINYAUTH_OAUTH_PROVIDERS_GITHUB_CLIENTID=your-github-client-id
TINYAUTH_OAUTH_PROVIDERS_GITHUB_CLIENTSECRET=your-github-client-secret
TINYAUTH_OAUTH_PROVIDERS_GOOGLE_CLIENTID=your-google-client-id
TINYAUTH_OAUTH_PROVIDERS_GOOGLE_CLIENTSECRET=your-google-client-secret
