[Unit]
Description=Run rclone apps sync hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Unit=run-script@rclone-apps.sh.service

[Install]
WantedBy=timers.target
