[Unit]
Description=Run rclone sync apps hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Unit=run-script@rclone-sync.sh.service

[Install]
WantedBy=timers.target
