[Unit]
Description=Run rsync apps backup hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Unit=run-script@rsync-apps.sh.service

[Install]
WantedBy=timers.target
