[Unit]
Description=Run unison apps sync hourly

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Unit=run-script@unison-apps.sh.service

[Install]
WantedBy=timers.target
