DOMAIN=example.duckdns.org

BRAVE_SEARCH_API_KEY=
CEREBRAS_API_KEY=
EXA_API_KEY=
FIRECRAWL_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=
NOUS_API_KEY=
NVIDIA_API_KEY=
OPENCODE_GO_API_KEY=
OPENCODE_ZEN_API_KEY=
OPENROUTER_API_KEY=
PARALLEL_API_KEY=
SEARXNG_URL=
TAVILY_API_KEY=

LITELLM_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/litellm
LITELLM_MASTER_KEY=sk-litellm-master-key
# generate using `openssl rand -hex 32`
LITELLM_SALT_KEY=
