# General
PUID=911
PGID=911
TZ=UTC
DOMAIN=example.com

# Rclone Debrid
RCLONE_CONFIG_DEBRID_URL=https://webdav.example.com
RCLONE_CONFIG_DEBRID_USER=user@example.com
# hash password: docker run --rm -it rclone/rclone:latest obscure <password>
RCLONE_CONFIG_DEBRID_PASS=your-rclone-obscured-password
